# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1

orbs:
  win: circleci/windows@2.2.0

jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:10.16.3

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: make test

      # run tests!
      - run: make build

      # Persist the specified paths (workspace/echo-output) into the workspace for use in downstream job.
      - persist_to_workspace:
          # Must be an absolute path, or relative path from working_directory. This is a directory on the container which is
          # taken to be the root directory of the workspace.
          root: .
          # Must be relative path from root
          paths:
            - out
            - coverage

  build-windows:
    executor: win/default
    steps:
      - checkout
      - attach_workspace:
          # Must be absolute path or relative path from working_directory
          at: .
      - run:
          name: Build Windows Binary
          command: |
            make build-win

      # Persist the specified paths (workspace/echo-output) into the workspace for use in downstream job.
      - persist_to_workspace:
          # Must be an absolute path, or relative path from working_directory. This is a directory on the container which is
          # taken to be the root directory of the workspace.
          root: .
          # Must be relative path from root
          paths:
            - out
            - coverage

  test-linux:
    docker:
      # specify the version you desire here
      - image: circleci/node:10.16.3
    steps:
      - checkout
      - attach_workspace:
          # Must be absolute path or relative path from working_directory
          at: .
      - run:
          name: Run Linux binary (dry run)
          command: |
            out/codecov-linux -F linux -d -Z > output_linux.txt
      - run:
          name: Run Linux binary (upload)
          command: |
            out/codecov-linux -F linux -Z

      - persist_to_workspace:
          root: .
          paths:
            - output_linux.txt

  test-macos:
    macos: # indicate that we are using the macOS executor
      xcode: "10.0.0" # indicate our selected version of Xcode
    steps: # a series of commands to run
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Run MacOS binary (dry-run)
          command: |
            out/codecov-macos -F macos -d -Z > output_osx.txt
      - run:
          # run our tests using xcode's cli tool `xcodebuild`
          name: Run MacOS binary (upload)
          command: |
            out/codecov-macos -F macos -Z

      - persist_to_workspace:
          root: .
          paths:
            - output_osx.txt

  test-windows:
    executor: win/default
    steps:
      - checkout
      - attach_workspace:
          # Must be absolute path or relative path from working_directory
          at: .
      - run:
          name: Run Windows binary (dry-run)
          command: |
            .\out\codecov.exe -F windows -d -Z > output_win.txt
          shell: cmd.exe
      - run:
          name: Run Windows binary (upload)
          command: |
            .\out\codecov.exe -F windows -Z
          shell: cmd.exe

      - persist_to_workspace:
          root: .
          paths:
            - output_win.txt

  review:
    docker:
      - image: circleci/node:10.16.3
    steps:
      - attach_workspace:
          at: .
      - store_artifacts:
          path: coverage
      - store_artifacts:
          path: out
      - store_artifacts:
          path: output_linux.txt
      - store_artifacts:
          path: output_osx.txt
      - store_artifacts:
          path: output_win.txt      

# TODO: add test runs for each binary outside of a git project

workflows:
  version: 2

  "Build and Test":
    jobs:
      - build
      - build-windows:
          requires:
            - build
      - test-linux:
          requires:
            - build
      - test-macos:
          requires:
            - build
      - test-windows:
          requires:
            - build-windows
      - review:
          requires:
            - test-linux
            - test-macos
            - test-windows
